@import "vars.css";

body {
    background-color: var(--color-black);
    color: var(--color-white);
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0em;
}

h1 {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 3.5em;
    letter-spacing: -0.03125em;
    margin: 0em;
}

p {
    font-family: var(--font-noto-sans);
    font-weight: 400;
    font-size: 1em;
    letter-spacing: -0.03125em;
    color: var(--color-gray);
    margin: 0.5em 0em 0em 0em;
}

a {
    color: var(--color-blue);
}

::selection {
    background-color: var(--color-blue);
    color: var(--color-white);
}